<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class="bg-light">注文情報確認</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% total = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.item.amount %></td>
          <td><%= cart_item.subtotal %></td>
        </tr>
        <% total += (cart_item.item.price*cart_item.amount)*1.1 %>
        <% end %>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <% @order.shipping_cost = 800 %>
        <tr><th class="table-secondary">送料</th><td><%= @order.shipping_cost %></td></tr>
        <tr><th class="table-secondary">商品合計</th><td><%= total.to_i %></td></tr>
        <% @order.total_payment = @order.shipping_cost + total.to_i %>
        <tr><th class="table-secondary">請求金額</th><td><%= @order.total_payment %></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <table class="table table-borderless">
        <tr><th class="col-1">支払い方法</th><td class="col-10"><%= @order.payment_method %></td></tr>
        <tr><th class="col-1">お届け先</th><td class="col-10">
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
        </td></tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= form_with madel: @order, url: public_orders_path, method: :post do |f| %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :shipping_cost %>
    <%= f.hidden_field :total_payment %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :status %>
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

