<div class="container">
  <div class="row">
    <h3 class="col-3 bg-light text-center mt-4 mb-3">注文情報入力</h3>
  </div>
　<%= form_with model: @order, url: public_confirm_path, method: :post do |f| %>

　  <h4 class="row-2">支払い方法</h4>

　  <div class="row-5 ml-4">
　  <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked" %>
　  <%= f.label :payment_method,Order.payment_methods_i18n[:credit_card] %>
　  </div>
　  <div class="row-5 ml-4">
　  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
　  <%= f.label :payment_method,Order.payment_methods_i18n[:transfer] %>
　  </div>
　  <h4 class="row-2 mb-2">お届け先</h4>
    <div class="row-5 ml-4">
　  <%= f.radio_button :address_option, 0, checked: "checked" %>
　  <%= f.label :order_address, "ご自身の住所" %>
　  </div>
　  <div class="row-5 ml-4">
　    <div class="col-6 ml-5">
　  〒<%= current_customer.postal_code %>
　  <%= current_customer.address %>
　  <%= current_customer.last_name %><%= current_customer.first_name %>
　  </div>
　  </div>
　  <div class="row-5 ml-4">
　  <%= f.radio_button :address_option, 1 %>
　  <%= label :order_address, "登録済み住所から選択" %><br>
　  <div class="col-6 ml-5">
　  <%= f.collection_select :customer_id, @addresses, :id, :address_display %>
　  </div>
　  </div>
　  <div class="row-5 ml-4">
　  <%= f.radio_button :address_option, 2 %>
　  <%= f.label :order_address, "新しいお届け先" %>
　  </div>
　  <div class="row-5 ml-4">
　  <%= f.label :postal_code, "郵便番号（ハイフンなし）", class: "col-3" %>
　  <%= f.text_field :postal_code, :placeholder => "0000000", class: "col-3" %>
　  </div>
　  <div class="row5 ml-4">
　  <%= f.label :address, "住所", class: "col-3" %>
　  <%= f.text_field :address, :placeholder => "東京都渋谷区代々木", class: "col-6" %>
　  </div>
　  <div class="row5 ml-4">
　  <%= f.label :name, "宛名", class: "col-3" %>
　  <%= f.text_field :name, :placeholder => "山田花子", class: "col-3" %>
　  </div>
　<div class="row justify-content-center">
　  <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
　</div>
　<% end %>
</div>