<div class="container">
  <div class="row">
    <dic class="col-2 dg-light">注文情報入力</dic>
  </div>
　<%= form_with model: @order, url: public_orders_path do |f| %>
　<div class="row">
　  <div class="col-1">支払い方法</div>
　  <%= f.radio_button :payment_method, "クレジットカード" %>
　  <%= f.label :payment_method, "クレジットカード" %>
　  <%= f.radio_button :payment_method, "銀行振込" %>
　  <%= f.label :payment_method, "銀行振込"　%>
　</div>
　<div class="row">
　  <div class="col-1">お届け先</div>
　  <%= f.radio_button :order_address, customer.address_display %>
　  <%= f.label :order_address, "ご自身の住所" %>
　  <%= f.radio_button :order_adress, (Address.all, :id, :address_display ) %>
　  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display ) %>
　  <%= f.label :order_address, "登録済み住所から選択" %>
　</div>
</div>